<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="site-icon" href="/assets/icons/site-icon.png" />
<link rel="site-icon" sizes="57x57" href="/assets/icons/site-icon-57x57.png" />
<link rel="site-icon" sizes="72x72" href="/assets/icons/site-icon-72x72.png" />
<link rel="site-icon" sizes="76x76" href="/assets/icons/site-icon-76x76.png" />
<link rel="site-icon" sizes="114x114" href="/assets/icons/site-icon-114x114.png" />
<link rel="site-icon" sizes="120x120" href="/assets/icons/site-icon-120x120.png" />
<link rel="site-icon" sizes="144x144" href="/assets/icons/site-icon-144x144.png" />
<link rel="site-icon" sizes="152x152" href="/assets/icons/site-icon-152x152.png" />
<link rel="site-icon" sizes="180x180" href="/assets/icons/site-icon-180x180.png" />
<!-- end custom head snippets -->
